
{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>
    Labore culpa meatball prosciutto, beef capicola jerky. Proident nisi fatback
    short ribs. Officia flank in jowl, kielbasa meatball mollit tri-tip chuck
    venison do adipisicing enim cillum. Incididunt laborum in ribeye corned beef
    pork loin beef ribs doner. Non porchetta deserunt, labore ipsum boudin magna
    nulla proident pork belly shankle ground round filet mignon brisket id.
    Picanha dolore est shankle pork chop ea t-bone sausage ullamco veniam
    sirloin corned beef.
  </p>
{{end}}
